<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
<h1>Transactions</h1>
<p>Hello
<span th:text="${userId}" th:remove="tag">[Username]</span>
</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.id}">1</td>
        <td th:text="${transaction.timestamp}">01-01-2021</td>
        <td th:text="${transaction.amount}">100.00</td>
        <td th:text="${transaction.getSlogan()}">Payment received</td>
    </tr>
    </tbody>
</table>
<H4>New Transaction</H4>
<form th:action="@{/transactions/new}" th:object="${newTransaction}" method="post">
    <p>User Id: <input type="text" th:field="*{receivingUserId}"/></p>
    <p style="background-color:red" th:if="${#fields.hasErrors('receivingUserId')}" th:errors="*{receivingUserId}"></p>

    <p>Amount: <input type="number" th:field="*{amount}"/></p>
    <p style="background-color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
    <p>Reference: <input type="text" th:field="*{reference}"/></p>
    <p><input type="submit" value="Create"/></p>
</form>
</body>
</html>